<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="X3_TERMINALINI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <X3_TERMINALINI.Properties.Settings>
      <setting name="BaseTitle" serializeAs="String">
        <value>MAGAZZINO X3</value>
      </setting>
      <setting name="SQL_Catalog" serializeAs="String">
        <value>sqlx3</value>
      </setting>
      <setting name="SQL_Psw" serializeAs="String">
        <value>tiger</value>
      </setting>
      <setting name="WS_User" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="WS_Pws" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="WS_Lan" serializeAs="String">
        <value>ITA</value>
      </setting>
      <setting name="Passphrase" serializeAs="String">
        <value>89B16E15A11BE4A59EDEB64A2D3A9</value>
      </setting>
      <setting name="Abil_SEAKEY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Abil_MAG_EntrDiv" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RIC_TipoUbic" serializeAs="String">
        <value>RIC</value>
      </setting>
      <setting name="Etic_Split" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="BaseVers" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="Abli_MAG_EntrDiv" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SQL_IP" serializeAs="String">
        <value>192.168.200.11</value>
      </setting>
      <setting name="SQL_User" serializeAs="String">
        <value>COLLAUDO</value>
      </setting>
      <setting name="WS_Pool" serializeAs="String">
        <value>COLLAUDO</value>
      </setting>
      <setting name="SPED_BollaPrep" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SPED_Ubic" serializeAs="String">
        <value>SPED01</value>
      </setting>
      <setting name="Abil_SEAKEY_LOT" serializeAs="String">
        <value>ZZZ</value>
      </setting>
      <setting name="WS_URL" serializeAs="String">
        <value>http://192.168.200.13:8124/soap-generic/syracuse/collaboration/syracuse/CAdxWebServiceXmlCC</value>
      </setting>
      <setting name="Manage_SEAKEY" serializeAs="String">
        <value>True</value>
      </setting>
	  <setting name="Manage_NAV" serializeAs="String">
		<value>True</value>
	  </setting>
	  <setting name="Manage_DISIMPEGNO" serializeAs="String">
	  	<value>True</value>
	  </setting>
	  <setting name="Manage_PRESPED" serializeAs="String">
		<value>True</value>
	  </setting>
	  <setting name="PRESPED_Ubic" serializeAs="String">
	  	<value>PRESPED</value>
	  </setting>
      <setting name="MAIL_SMTP" serializeAs="String">
        <value>192.168.200.12</value>
      </setting>
      <setting name="MAIL_SMTP_USER" serializeAs="String">
        <value />
      </setting>
      <setting name="MAIL_SMTP_PASSWORD" serializeAs="String">
        <value />
      </setting>
      <setting name="MAIL_SMTP_PORT" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MAIL_TO_DDT" serializeAs="String">
        <value>campodonico@sarce.it</value>
      </setting>
      <setting name="MAIL_FROM" serializeAs="String">
        <value>dservices@eps-srl.com</value>
      </setting>
    </X3_TERMINALINI.Properties.Settings>
  </applicationSettings>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension="." mimeType="text/plain" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
		</staticContent>

	</system.webServer>
	
</configuration>